body {
  margin: 0;
  overflow: hidden;
}

.contents {
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  background-color: #1e3d69;
}

.container {
  margin: 0 !important;
  padding: 1vw !important;
  max-width: 100vw !important;
}

.mt-5 {
  margin-top: 0 !important;
}
.nav-link {
  font-size: 15px;
}
.tab-content {
  max-width: 100%;
  height: 100%;
}

.tab-pane {
  width: 100%;
  height: 100%;
}

.leftmenu {
  display: inline-block;
  width: 20vw;
  height: 100%;
  background-color: #03153a;
}

.lm-info1 .dropdown-btn,
.lm-info2 .dropdown-btn {
  width: 18vw;
  /* 패딩으로 크기 늘려주기 */
  margin: 1vw;
  padding: 0.5vw;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: #1a305f;
  color: #99aabc;
  border: none;
  cursor: pointer;
  text-align: justify;
  padding-left: 10px;
}

.lm-info1 .bi {
  padding-left: 12vw;
}

.lm-info2 {
  margin-top: 70px;
}
.lm-info2 .bi {
  padding-left: 12.7vw;
}

.lm-info2-table {
  width: 18vw;
  height: auto;
  max-height: 200px;
  margin-top: -1vw;
  margin-left: 1vw;
  padding-left: 0.5vw;
  padding-right: 0.5vw;
  border: none;
  color: white;
  font-size: 1.5rem;
  background-color: #1e3d69;
  overflow-y: auto;
}

.lm-info2-table table {
  width: 100%;
  height: 100%;
}

.form-check-input {
  /*고침*/
  margin-top: 8px !important;
  margin-bottom: 8px;
  font-size: 2rem;
}

/* 자동완성 */
#suggestions {
  max-height: 114px;
  font-size: 1.2rem;
  margin-top: 20px;
  margin-left: 5px;
  overflow-y: auto;
  position: absolute;
  background-color: #1e3d69;
  color: #fff;
  width: 90%;
  list-style-type: none;
}
#suggestions li {
  padding: 10px;
  cursor: pointer;
}
#suggestions li:hover {
  background-color: #4f6c96;
}

/* 조회버튼 */
.company-search-btn {
  width: 81% !important;
  color: #fff !important;
  background-color: #007bff !important;
  border-color: #007bff;
  margin-top: 5px !important;
  font-size: 1.2rem !important;
}

.company-search-btn:hover {
  background-color: #1663b3 !important;
  border-color: #1663b3;
  color: #fff;
}

/* 리셋버튼 */
.reset-inputdata {
  width: 55px !important;
  color: #606163 !important;
  background-color: #c5c8cc !important;
  border-color: #c5c8cc !important;
  margin-top: 5px !important;
  font-size: 1.2rem !important;
  margin-left: 5px !important;
}

.reset-inputdata:hover {
  background-color: #3c6694 !important;
  border-color: #3c6694 !important;
  color: #fff;
}

.outlet-name {
  cursor: pointer;
  padding: 5px;
}
.outlet-name:hover {
  color: #5dc0e7;
}
#zero-message {
  color: red;
  font-size: 15px;
  padding: 20px 10px 10px 1px;
  text-align: center;
  height: 30px;
  position: absolute;
  margin-left: 18px;
}
