.tab-pane-content {
  /* 레이아웃 */
  width: 100%;
  height: 85%;
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  gap: 0.5vh 1vw;
  grid-template-areas:
    "l c r1"
    "l c r2"
    "l c r3";
  /* overflow-y: scroll; */
}

#tab1-left {
  /* 악취기여물질 */
  grid-area: l;
}
#tab1-center {
  /* 방해인자 */
  grid-area: c;
}
#tab1-right-1 {
  /* 추가설비 */
  grid-area: r1;
}
#tab1-right-2 {
  /* 복합악취 */
  grid-area: r2;
}
#tab1-right-3 {
  /* 하단 버튼 */
  grid-area: r3;
  width: 25vw;
  height: 9vh;
  margin-top: 2vh;
  margin-bottom: 1vh;
  display: grid !important;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 3px;
  grid-template-areas:
    "ld ld"
    "bl br";
}

.file-load {
  /* 파일 불러오기 */
  grid-area: ld;
  width: 100%;
  margin-top: 0.5vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.btn-left {
  /* 이론적 희석배수 조회 버튼 */
  grid-area: bl;
}
.btn-right {
  /* 방지시설 예측 버튼 */
  grid-area: br;
}

/* 그리드 컴포넌트 구성 */
.grid-info {
  width: 25vw;
  margin-top: 1.5vh;
  padding: 0.5vw;
  padding-left: 1vw;
  text-align: justify;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  background-color: #1a305f;
  border: none;
  cursor: pointer;
}
.grid-component {
  width: 25vw;
  height: 92%;
  margin: 0 !important;
  padding: 0;
  text-align: center;
  font-size: 1.5rem;
  color: white;
  background-color: #03153a;
}

/* 악취기여물질, 방해인자 부분 */
#grid-component-left,
#grid-component-center {
  display: flex;
  flex-direction: column;
  gap: 2%;
  align-items: center;
  padding: 0;
}
#grid-component-left {
  overflow-y: scroll;
}

/* 검색창 */
.search-bar {
  width: 100%;
  height: 26px;
  display: flex;
  margin-top: 15px;
  padding: 0;
  justify-content: center;
}

/* 표 관련 */
.table-component {
  width: 22vw;
  margin: 0 !important;
  padding: 1%;
  font-size: 1.3rem;
  color: white;
  background-color: #03153a;
}
.table-head {
  width: 100%;
  height: 60px;
}
.table-head td {
  border: 1px solid white;
  border-collapse: collapse;
}

/* 화합물 항목별 */
.factor-category-name {
  display: block;
  text-align: left;
  margin-top: 2vh;
  margin-bottom: 1vh;
  color: #fff;
  cursor: pointer;
  font-size: 1.5rem;
}
.factor-table td {
  /* background-color: #1a305f; */
  border: 1px solid white;
  border-collapse: collapse;
  margin-bottom: 1vh;
}

/* 열 간격 */
.factor-name {
  width: 10vw;
  height: 3.5vh;
}
.value-width-4 {
  width: 4vw;
}
.value-width-6 {
  width: 6vw;
}

/* 입력 열 */
.factor-input {
  width: 100%;
  height: 3vh;
  color: white;
  /* background-color: #1a305f; */
  text-align: center;
  border: none;
}

/* 추가설비 */
#grid-component-right-1 {
  height: fit-content;
  display: flex;
  font-size: 1.5rem;
  justify-content: center;
  padding: 1vh;
}
.check-table {
  width: 18vw;
  height: 5vh;
  margin: 2vh 2vh 1vh 2vh;
}
.check-table td {
  text-align: left;
  vertical-align: top;
}

/* 복합악취 */
#grid-component-right-2 {
  display: flex;
  height: 90%;
  flex-direction: column;
  align-items: center;
  padding: 1vw;
  font-size: 1.3rem;
  color: white;
  flex-wrap: nowrap;
}

/* 기여율 표 */
#view-table-head {
  width: 21vw;
  height: 60px;
  padding-left: 1vw;
}
#view-table-head td {
  border: 1px solid white;
  border-collapse: collapse;
}
#view-table-body {
  width: 23vw;
  height: 26vh;
  margin-bottom: 1vh;
  background-color: #1a305f;
  padding: 1vw;
  text-align: center;
  overflow-y: scroll;
}

/* 풍량 및 목표희석배수 입력 표 */
.input-factor-table {
  position: inherit;
  margin-top: 2vh !important;
  margin-bottom: 1vh !important;
  width: 23vw;
  height: 8vh;
  background-color: #03153a;
  text-align: right;
}
.input-factor-table td,
th {
  border: 1px solid mediumblue;
  border-collapse: collapse;
}
.fillColorTd {
  background-color: royalblue;
  color: white;
  text-align: center;
  width: 50%;
}
.inputTd {
  width: 100%;
  height: 100%;
  text-align: right;
  color: white;
  background-color: #03153a;
  border: none;
}

/* 파일 불러오기 */
.fileName_textbox {
  width: 17vw !important;
  height: 3vh;
  font-size: 1.2rem !important;
  overflow: hidden;
  float: left;
}
.file_input_div {
  position: relative;
  width: 8vw;
  height: 3vh;
  overflow: hidden;
  border-radius: 0.2rem;
}
.file_input_button {
  width: 8vw !important;
  height: 3vh !important;
  position: absolute;
  top: 0px;
  background-color: black;
  color: white;
  font-size: 1.2rem !important;
  border-color: white;
}
.file_input_hidden {
  width: 24vw;
  height: 3vh;
  overflow: hidden;
  font-size: 45px;
  position: absolute;
  right: 0px;
  top: 0px;
  opacity: 0;
  filter: alpha(opacity=0);
  -ms-filter: "alpha(opacity=0)";
  -khtml-opacity: 0;
  -moz-opacity: 0;
}

/* 버튼 */
.tab1-btn {
  font-size: 1.3rem !important;
  color: white;
  background-color: black;
  border-color: white;
}
