/* 전체 화면 로딩 애니메이션 스타일 */
#loading-anim {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    /* 다른 콘텐츠 위에 표시 */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* 반투명 배경 */
}

/* 중앙 정렬 및 텍스트 스타일링 */
.center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

/* 링 스타일 */
.ring {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 8px solid transparent;
    border-top: 8px solid white;
    animation: ring 2s linear infinite;
}

/* 링 애니메이션 */
@keyframes ring {
    0% {
        transform: rotate(0deg);
        border-top-color: #e65c00;
    }

    50% {
        transform: rotate(180deg);
        border-top-color: #18b201;
    }

    100% {
        transform: rotate(360deg);
        border-top-color: #0456c8;
    }
}

/* 로딩 텍스트 스타일링 */
.center p {
    color: whitesmoke;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    line-height: 30px;
    animation: text 3s ease-in-outline;
}

/* 텍스트 애니메이션 */
@keyframes text {
    0% {
        color: whitesmoke;
    }

    50% {
        color: black;
    }

    100% {
        color: whitesmoke;
    }
}

/* 모바일 화면 대응 */
@media (max-width: 600px) {
    .ring {
        width: 20vw;
        /* 모바일 화면에서는 너비를 화면의 20%로 설정 */
        height: 20vw;
        /* 모바일 화면에서는 높이를 화면의 20%로 설정 */
    }

    .center p {
        font-size: 5vw;
        /* 모바일 화면에서는 폰트 크기를 화면의 5%로 설정 */
    }
}