.complaint-table td {
    display: flex;
    align-items: center;
    gap: 10px; /* label과 input 사이 간격 */
    padding: 5px 3px;
}

.complaint-table td input {
    flex: 1;
    max-width: 100%; /* 가로 공간 초과 방지 */
    padding: 8px; /* 입력 필드 내부 여백 */
    box-sizing: border-box;
}

.complaint-send {
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

.complaint-send input {
    width: 100px;
    border-radius: 3px;
    height: 30px;
}

.complaint-send label {
    font-size: 14px;
    color: gray;
    display: block;
    margin-bottom: 5px;
}

.complaint-send button {
    background-color: #98a9bc;
    /* 기본 버튼 배경색 설정 */
    color: black;
    /* 기본 버튼 텍스트 색상 설정 */
    border: 2px solid #98a9bc;
    /* 기본 버튼 테두리 색상 설정 */
    border-radius: 4px;
    /* 버튼 모서리 둥글게 설정 */
    padding: 5px 10px;
    /* 버튼 안쪽 여백 설정 */
    margin: 0 10px;
    /* 버튼 간의 여백 설정 */
    font-size: 12px;
    /* 버튼 텍스트 크기 설정 */
    font-weight: bold;
    /* 버튼 텍스트 두께 설정 */
    cursor: pointer;
    /* 커서 모양을 손가락으로 변경 */
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    /* 버튼 색상에 부드러운 전환 효과 추가 */
    width: 110px;
}

.complaint-send button:hover {
    background-color: #0077ff;
    /* 버튼 배경색 변경 */
    color: #ffffff;
    /* 버튼 텍스트 색상 변경 */
    border-color: #0077ff;
    /* 버튼 테두리 색상 변경 */
}

/* 버튼 클릭 상태 */
.complaint-send button.active {
    background-color: #0077ff;
    /* 버튼 클릭 시 배경색 변경 */
    color: #ffffff;
    /* 버튼 클릭 시 텍스트 색상 변경 */
    border-color: #0077ff;
    /* 버튼 클릭 시 테두리 색상 변경 */
}

.complaint-done {
    color: white;
    margin: 10px;
    font-size: 15px;
}

.complaint-done table {
    font-size: 13px;
    width: 100%;
    border-collapse: collapse;
}

.complaint-done td {
    text-align: center;
    padding: 5px;
    vertical-align: middle;
    /* 세로 중앙 정렬 */
}

.complaint-done tbody .arrow {
    display: inline-block;
    position: relative;
    width: 45px;
    /* 화살표 막대기의 너비 */
    height: 20px;
    /* 화살표 막대기의 높이 */
    background-color: #8ea9c5;
    /* 화살표의 색상 */
    margin: 5px 0;
    /* 위아래 여백 설정 */
}

.complaint-done tbody .arrow::before {
    content: '';
    position: absolute;
    top: 0;
    right: -20px;
    /* 화살표 꼭지점을 오른쪽 끝에 배치 */
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    /* 화살표의 꼭지점 위쪽 */
    border-bottom: 10px solid transparent;
    /* 화살표의 꼭지점 아래쪽 */
    border-left: 20px solid #8ea9c5;
    /* 화살표의 꼭지점 색상과 크기 */
}

.complaint-done textarea {
    width: 100%;
    /* 텍스트 영역의 너비를 100%로 설정 */
    height: 100px;
    /* 텍스트 영역의 높이를 설정 */
    padding: 10px;
    /* 내부 여백 추가 */
    margin-top: 5px;
    /* 텍스트 영역 위쪽에 여백 추가 */
    background-color: #c1c1c1;
    border: 1px solid #ccc;
    /* 테두리 설정 */
    border-radius: 4px;
    /* 둥근 모서리 */
    box-sizing: border-box;
    /* 패딩과 테두리를 포함한 전체 크기 계산 */
    font-size: 13px;
    /* 폰트 크기 설정 */
    overflow-y: scroll;
}