html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#container {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
}

header {
    background-color: #1a305f;
    padding: 0;
}

nav {
    background-color: #1a305f;
    padding: 0;
}

#main-content {
    display: flex;
    height: calc(100vh - 149px);
}

aside {
    padding: 5px;
}

#leftmenu,
#rightmenu {
    flex: 0 0 10vw;
    background-color: #0B173B;
    height: 100%;
}

#leftmenu {
    min-width: 300px;
    overflow-y: scroll;
}
/* 스크롤 안보이게 */
#leftmenu::-webkit-scrollbar {
  display: none;
}

#rightmenu {
    z-index: 10;
    position: absolute; /* 필요하다면 relative로 수정 */
    top: 165px;
    right: 20px;
    width: 300px;
    height: 395px;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 15px;
}

#main {
    flex: 1;
}