<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<!-- HTML5 문서 타입 선언 및 HTML 문서의 루트 요소 시작, 문서의 언어는 영어로 설정 -->
<head>
    <meta charset ="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <!-- CSS 파일들 로드 -->
    <link rel="stylesheet" href="/static/tseiweb/complaintCss/total.css"/>
    <link rel="stylesheet" href="/static/tseiweb/complaintCss/header.css"/>
    <!-- header 영역에 대한 스타일을 정의한 CSS 파일 -->
    <link rel="stylesheet" href="/static/tseiweb/css/topnav.css"/>
    <!-- topnav(상단 내비게이션)에 대한 스타일을 정의한 CSS 파일 -->
    <link rel="stylesheet" href="/static/tseiweb/complaintCss/leftmenu.css"/>
    <!-- leftmenu(왼쪽 메뉴)에 대한 스타일을 정의한 CSS 파일 -->
    <link rel="stylesheet" href="/static/tseiweb/css/main.css"/>
    <link rel="stylesheet" href="/static/tseiweb/complaintCss/main.css"/>
    <!-- main(주 콘텐츠 영역)에 대한 스타일을 정의한 CSS 파일 -->
    <link rel="stylesheet" href="/static/tseiweb/complaintCss/rightmenu.css"/>
    <!--rightmenu(오른쪽 메뉴)에 대한 스타일을 정의한 css파일 -->
    <link rel="stylesheet" href="/static/tseiweb/complaintCss/loading.css"/>
    <!-- Font Awesome 아이콘을 사용하기 위한 CSS 파일 -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    
    <script src="/static/tseiweb/js/polyfill.min.js"></script>
    <script src="https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js"></script>
</head>

<body>
    <header th:replace="~{complaint/header :: header}" id="header"></header>
    <!-- header 영역: header.js와 header.css를 통해 동적으로 콘텐츠가 로드되고 스타일이 적용됨 -->
    <nav th:replace="~{common/topnav :: topnav}" id="topnav"></nav>
    <!-- 상단 내비게이션 영역: topnav.js와 topnav.css를 통해 동적으로 콘텐츠가 로드되고 스타일이 적용됨 -->
    <div id="loading-anim">
        <div class="center">
            <div class="ring"></div>
                <p>
                    <span>loading...</span>
                    <br>
                    <span id="process-bar"></span>
                    <br>
                    <span style="color: red;">중지를 원하면 ESC를 누르십시오.</span>
                </p>
        </div>
    </div>
    <div id="main-content">
        <aside th:replace="~{complaint/leftmenu}" id="leftmenu"></aside>
        <!-- 왼쪽 메뉴 영역: leftmenu.js와 leftmenu.css를 통해 동적으로 콘텐츠가 로드되고 스타일이 적용됨 -->
        <main th:replace="~{complaint/main}" id="main"></main>
        <!-- 메인 콘텐츠 영역: main.js와 main.css를 통해 콘텐츠가 로드되고 스타일이 적용됨 -->
        <aside th:replace="~{complaint/rightmenu}" id="rightmenu"></aside>
        <!-- 오른쪽 메뉴 영역:rightmenu.js와 rightmenu.css를 통해 동적으로 콘텐츠가 로드되고 스타일이 적용됨 -->
    </div>


    <!-- 사용자 정의 자바스크립트 파일 로드 -->
    <script th:src="@{/static/tseiweb/js/complaintWeb/total.js}"></script>
    <script th:src="@{/static/tseiweb/js/topnav.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/search.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/map.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/modal.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/loading.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/Complaint.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/ComplaintList.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/SourcePlace.js}"></script>
    <script th:src="@{/static/tseiweb/js/complaintWeb/SourcePlaceList.js}"></script>
   <!-- <script th:src="@{/static/tseiweb/js/complaintWeb/leftmenu.js}"></script>-->
    <!-- 자바스크립트 파일들 추가 로드 -->
</body>

</html>
<!-- HTML 문서의 루트 요소 끝 -->
